################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/Tests/bin/Debug
/client/Tests/obj/Debug
/MapStitcher/Temp
/web-ui/public/images
